[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/third_party/stb"]
	path = third_party/third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/tiny_obj_loader"]
	path = third_party/tiny_obj_loader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third_party/vulkan_hpp"]
	path = third_party/vulkan_hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://luajit.org/git/luajit.git
[submodule "third_party/imGuizmo"]
	path = third_party/imGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
