*.o
*.obj
*.exe
build/*
data/models*
data/textures*
*.log
*.cmake
Makefile
CMakeFiles/*
engine/CMakeFiles/*
entry/CMakeFiles/*
*.zip
*.cmake
*.log
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.recipe
*.log
*.pdb
*.ilk
*.vcxproj.CopyComplete
*.vcxproj.FileListAbsolute.txt
.vs/*
.vs/
